body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

#search-bar {
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    margin: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
